@import "tailwindcss";

@theme {
  --color-primary: #ff4d00;
  --color-primary-hover: #e64400;
  --color-primary-light: rgb(255 77 0 / 0.05);
  --color-primary-ring: rgb(255 77 0 / 0.3);
  --font-primary: "Staatliches", "Tahoma Bold", sans-serif;
  --font-secondary: "Merriweather", serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-secondary);
  background-color: #f9fafb;

}

#root {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}
